<% provide(:title, 'All Users') %>
<h1>All Users</h1>

<%= will_paginate %>

  <ul class='users'>
    <%= render @users %> <!-- Rails Magic means that this grabs the _user partial view -->
  </ul>

<%= will_paginate %>
